table{
    border-collapse: collapse;
    width: 500px;
}
th, td{
    border: 2px solid #000000;
    font-size: larger;
    padding: 5px;
}
div{
    width: max-content;
    display: flex;
    flex-direction: column;
}
h1{
    text-align: center;
}