body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#quadrado {
    width: 400px;
    height: 400px;
    background-color: #0d63cb;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.2s;
}